<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <!--Navigation-->
    <nav class="navbar navbar-expand-lg  navbar-light bg-light">
        <div class="container px-4 px-lg-5">
      <span>
        <a class="navbar-brand" href="/">
          <b style="font-size: 28px; color: #60BFB6; text-shadow: -1px 0 #0D0D0D, 0 1px #0D0D0D, 1px 0 #0D0D0D, 0 -1px #0D0D0D;
          margin-right: -8px">Hi</b>
          <b style="font-size: 28px; color: #F2D22E; text-shadow: -1px 0 #0D0D0D, 0 1px #0D0D0D, 1px 0 #0D0D0D, 0 -1px #0D0D0D;">book</b>
        </a>
      </span>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-target="#navbarSupportedContent"
                    data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a aria-current="page" class="nav-link active" href="/admin/item/new">상품 등록</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link" href="/admin/items">상품 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">장바구니</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/orders">구매 이력</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="members/login">로그인</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#!">회원 가입</a>
                    </li> -->
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a aria-expanded="false" class="nav-link dropdown-taggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdown" role="button">내 정보</a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <!-- <li><a class="dropdown-item" href="#!">마이페이지</a></li> -->
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li><a class="dropdown-item" href="member/logout">로그아웃</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Let's Go-Book</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template
                </p>
            </div>
        </div>
    </header>
</div>
</html>